.header {
  padding-top: 24px;
  padding-bottom: 24px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  background: #FFFFFF;
}

.navList {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

@media (max-width: 1000px) {

  .header {
    justify-content: space-between;
  }
}

@media (max-width: 650px) {

  .header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: 500px) {

  .header {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
