.main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

/*later change class*/
.rightSide {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    flex-grow: 1;
}