.wrapper {
    padding: 40px 11% 44px 11%;
}

.wrapperSizeM {
    padding-left: 23%;
    padding-right: 23%;
}

@media (max-width: 1000px) {

    .wrapper {
        padding: 15px 5% 15px 5%;
    }
}

@media (max-width: 1000px) {
    .wrapper {
        padding: 15px 3% 15px 3%;
    }

    .wrapperSizeM {
        padding-left: 15%;
        padding-right: 15%;
    }
}
